@model Go_Nosh.Models.FoodTruck

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FoodTruck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodTruckName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodTruckName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodTruckPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodTruckPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceRangeIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceRangeIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Twitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Open_now)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Open_now)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuPic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price_level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price_level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FoodTruckPrimaryKey">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
