@model IEnumerable<Go_Nosh.Models.FoodTruck>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Search Box</title>
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        
         /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            background-color: #d4cdcd;
            margin: 0;
            padding: 0;
        }

         #description {
             font-family: Roboto;
             font-size: 15px;
             font-weight: 300;
         }

         #infowindow-content .title {
             font-weight: bold;
         }

         #infowindow-content {
             display: none;
         }

         #map #infowindow-content {
             display: inline;
         }

         .pac-card {
             margin: 10px 10px 0 0;
             border-radius: 2px 0 0 2px;
             box-sizing: border-box;
             -moz-box-sizing: border-box;
             outline: none;
             box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
             background-color: #fff;
             font-family: Roboto;
         }

         #pac-container {
             padding-bottom: 12px;
             margin-right: 12px;
         }

         .pac-controls {
             display: inline-block;
             padding: 5px 11px;
         }

             .pac-controls label {
                 font-family: Roboto;
                 font-size: 13px;
                 font-weight: 300;
             }

         #pac-input {
             background-color: #fff;
             font-family: Roboto;
             font-size: 15px;
             font-weight: 300;
             margin-left: 12px;
             padding: 0 11px 0 13px;
             text-overflow: ellipsis;
             width: 400px;
         }

             #pac-input:focus {
                 border-color: #4d90fe;
             }

         #title {
             color: #fff;
             background-color: #4d90fe;
             font-size: 25px;
             font-weight: 500;
             padding: 6px 12px;
         }

         #target {
             width: 345px;
         }
    </style>
</head>
<body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>

   
    <script src="https://maps.googleapis.com/maps/api/js?key=@API_KEY.googleMapsApiKey&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script src="~/js/GoogleMaps.js"></script>
</body>
</html>
<table class="table-bordered">
    <thead class="table-dark">
        <tr class="text-sm-center">
            <th>
                @Html.DisplayNameFor(model => model.FoodTruckName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WebsiteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Open_now)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MenuPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price_level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodTruckName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.WebsiteUrl)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facebook)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Twitter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instagram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Open_now)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MenuPic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price_level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>

                <td>
                    |
                    <a style="background-color:#f1eded" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a style="background-color:#f1eded" asp-action="Details" asp-route-id="@item.Id">Details</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
